services:
  fastapi:
    build: ./fastapi
    container_name: fastapi
    command: python -m uvicorn fastapi.main:app --host 0.0.0.0 --port 8001 --reload
    volumes:
      - pg_data:/var/lib/postgresql/data
      # - ./fastapi/data:/fastapi/data
      # - ./fastapi/logs:/fastapi/logs
    ports:
      # HOST:CONTAINER → FastAPI sur http://localhost:8001
      - "8001:8001"
    networks:
      - ndi2025-network

  next-app:
    build: ./next-app
    container_name: next-app
    command: npm run start
    environment:
      # Next.js écoutera sur le port 3001 dans le container
      - PORT=3001
    volumes:
      - ./next-app/src:/next-app/src
      - ./next-app/public:/next-app/public
    ports:
      # HOST:CONTAINER → Next.js sur http://localhost:3001
      - "3001:3001"
    depends_on:
      - fastapi
    networks:
      - ndi2025-network

volumes:
  pg_data:

networks:
  ndi2025-network:
